<!DOCTYPE html>
<html>
<head>
    <title>Getting Started: webApp0321</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>word: {{word}}</div>
<div>letter: {{letter}}</div>
<div>count: {{count}}</div>
</body>
</html>